.charts-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 99%;
  margin: 0 1vw;
  overflow: auto;

  .upper-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    button {
      height: fit-content;
    }
  }
}
