.charts-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  animation: fade-in 3s ease;
  overflow-y: auto;

  .upper-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    button {
      height: fit-content;
    }
  }
}
