.main-table-box {
    border: black solid 1px;
    border-radius: 16px !important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3) !important;

    .button-icon:hover .MuiSvgIcon-root {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }
}