.collaborators-charts-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem 0;
  border-radius: 1rem;
  

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;

    h1 {
      margin: 0.5rem 0;
    }
  }

  .table-container {
    border: solid 1px black;
    border-radius: 1rem;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
}


.collaborator-report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2%;

  h1 {
    text-transform: capitalize;
  }

  .info-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 1rem 0;
    
    .info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 2px black;
      border-radius: 1rem;
      width: 15rem;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      
      span {
        text-align: center;
        width: 15rem;
        padding: 0.5rem 0;

      };
      div {
        width: 100%;
        height: 1px;
        background-color: black;
      }
    }
  }

  .charts-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3rem 0;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    .divider {
      width: 1px;
      background-color: black;
    }

    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 3rem 1rem;
    }
  }

  .return-btn {
    position: fixed;
    align-self: flex-start;
    bottom: 0;
    z-index: 10;
    
    svg {
      font-size: 2.5rem;
    }
  }
}

.chart-title {
  font-size: 1.5rem;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 8px; /* Largura do scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor do track */
  border-radius: 10px; /* Borda arredondada no track */
}

::-webkit-scrollbar-thumb {
  background: #AAA; /* Cor do thumb */
  border-radius: 10px; /* Borda arredondada no thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #999; /* Cor do thumb ao passar o mouse */
}