.register-pop-up-container {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;

  .header-container {
    position: relative;
    width: 100%;
    height: 10%;
    margin-bottom: 5vh;
    background-color: #214f6e;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      color: white;
      text-transform: uppercase;
    }
    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  form {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    width: 90%;
    overflow: auto;

    .two-fields-container {
      display: flex;
      justify-content: space-between;

      > div {
        width: 48%;
        margin: 2vh 0;
      }
    }
    .three-fields-container {
      display: flex;
      justify-content: space-between;

      > div {
        width: 30%;
        margin: 2vh 0;
      }
    }

    .file-input-container {
      position: relative;
      display: flex;
      align-self: center;
      margin: 2vh 0;
      width: 15vw;
      height: 15vw;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

      .clear-btn {
        position: absolute;
        top: -3vh;
        right: -3vw;
      }

      .upload-btn {
        width: 100%;
        height: 100%;

        > svg {
          width: 70%;
        }
      }

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .register-btn {
      margin-top: auto;
      margin-bottom: 2vh;
      width: fit-content;
      align-self: flex-end;
    }
  }
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  > hr {
    border-top: 0.3vh solid gray;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
  > span {
    color: gray;
    background-color: white;
    padding: 0 1vw;
    margin: 2vh 0;
    z-index: 2;
  }
}
