$borderRadius: 30px;

.register-pop-up-container {
  width: 87.5%;
  max-height: 92.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: $borderRadius;
  border: solid 1px black;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);


  .header-container {
    position: relative;
    width: 100%;
    padding: 1.25rem 0;
    margin-bottom: 5vh;
    background-color: #214f6e;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      color: white;
      text-transform: uppercase;
      font-size: 1.75rem;
      font-weight: 600;
    }
    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  form {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    width: 90%;
    padding: 0 5% 2.5% 5%;
    overflow: auto;
    align-items: center;

    .two-fields-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 0 1rem 0;

      > div {
        width: 48%;
        margin: 2vh 0;
      }
    }

    .two-fields-container-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      

      > div {
        width: 48%;
        margin: 2vh 0;
      }
      .formgroup-checkbox {
        margin: 0 0 1.25rem 0;
        
        .formcontrol-checkbox {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin: 0;
        }
      }
    }
    .three-fields-container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 1rem;

      > div {
        width: 30%;
        margin: 2vh 0;
      }
    }

    .label-file-input {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .file-input-container {
      position: relative;
      display: flex;
      align-self: center;
      margin: 1rem 0 2rem 0;
      width: 200px;
      height: 200px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      
      .button-file-input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: dotted 1px black;
      }

      .clear-btn {
        position: absolute;
        top: -3vh;
        right: -3vw;
      }

      .upload-btn {
        width: 100%;
        height: 100%;

        > svg {
          width: 70%;
        }
      }

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .register-btn {
      margin-top: auto;
      margin-bottom: 2vh;
      width: fit-content;
      align-self: flex-end;
    }
  }

  .products-container {
    display: grid;
    row-gap: 1.5vh;
    column-gap: 1vw;
    margin-bottom: 2vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 90%;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;

      .product-img {
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .set-quantity-container {
        margin-top: 1vh;
        display: flex;
        align-items: center;

        > * {
          border-radius: 0;
          margin: 0 0.3vw;
        }
      }
    }
  }
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  > hr {
    border-top: 0.3vh solid gray;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
  > span {
    color: gray;
    background-color: white;
    padding: 0 1vw;
    margin: 2vh 0;
    z-index: 2;
  }
}
