.table-container {
  flex: 1;
  margin: 0 1vw;

  .upper-table-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    button {
      height: fit-content;
    }
  }
}
