.table-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 0 2.5%;
  animation: fade-in 2s ease;
  width: 100% !important;
  gap: 2.5%;


  .upper-table-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

    button {
      height: fit-content;
    }
  }

}
