.login-container {
  align-items: center;
  height: 100vh;
  padding: 0;
  animation: fade-in 1s ease;
  
  &.fade-out {
    animation: fade-out 1s ease forwards;
  }

  .logo {
    width: 35vw;
    height: auto;
  }

  .form {
    width: 100%;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
